In [4]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df = pd.get_dummies(df, columns = ["Stadt"])

df.head()

,Gewinn,Preis in Mio,Quadratmeter,Stadt_Berlin,Stadt_Köln,Stadt_München
0,119000.0,21.88,3938.0,1,0,0
1,250000.0,27.95,3986.0,0,0,1
2,250000.0,16.09,2574.0,0,1,0
3,145000.0,27.58,4155.0,0,0,1
4,110000.0,23.76,3795.0,1,0,0

In [5]:
Y = df[["Preis in Mio"]].values

In [11]:
# Option 1: Explizit auflisten, welche Spalten wir in X haben möchten
X = df[["Gewinn", "Quadratmeter", "Stadt_Berlin", "Stadt_Köln"]].values

# Option 2: Explizit auflisten, welche Spalten wir **nicht** in X haben möchten
# df.drop(labels = ["Preis in Mio", "Stadt_München"], axis = 1).values