In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
daten  =pd.read_csv("./spam.csv")
daten.head()

   type                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
len(daten)

5572

In [6]:
daten.isna().sum()

type       0
message    0
dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
X = daten.drop("type",axis=1)
y = daten["type"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv.fit(X_train)

X_train = cv.transform(X_train)
X_test = cv.transform(X_test)

1