In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [78]:
daten = pd.read_csv("mein_dataframe.csv")
daten.head()

                  time     open     high      low    close  stand
0  2023-11-02 06:20:00  1.05992  1.05999  1.05983  1.05986   True
1  2023-11-02 06:25:00  1.05987  1.05997  1.05979  1.05993  False
2  2023-11-02 06:30:00  1.05993  1.05997  1.05989  1.05990   True
3  2023-11-02 06:35:00  1.05990  1.05991  1.05961  1.05966   True
4  2023-11-02 06:40:00  1.05966  1.05983  1.05966  1.05982  False

In [79]:
new_daten = daten.drop("stand",axis=1)

X = new_daten.drop("close",axis=1)
y= new_daten["close"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
from sklearn.linear_model import LinearRegression

model = LinearRegression()
# model.fit(X_train, y_train)
new_daten.dtypes

time      object
open     float64
high     float64
low      float64
close    float64
dtype: object

In [105]:
from datetime import datetime

# Leeres Array f체r die konvertierten Zeit-Floats
time_floats = []

# Iteration durch das Array von Zeitstrings
for time_string  in new_daten["time"]:
    # Convertiere den Zeitstring in ein datetime-Objekt
    time_object = datetime.strptime(time_string, '%Y-%m-%d %H:%M:%S')
    
    # Konvertiere das datetime-Objekt in einen Float (repr채sentiert die Zeit in Sekunden)
    time_float = time_object.timestamp()
    
    # F체ge den Float-Wert zur Liste der konvertierten Floats hinzu
    time_floats.append(time_float)

X = new_daten.drop("close",axis=1)
y= new_daten["close"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

TypeError: strptime() argument 1 must be str, not float

In [81]:
model.score(X_test,y_test)

0.9998892916431174

In [82]:
model.predict(X_test)

array([1.09079645, 1.08875765, 1.09411825, ..., 1.07622069, 1.0956146 ,
       1.09751316])

In [101]:
y_preds = model.predict(X_test)

data = {"ai-closeWert": y_preds, "real-closeWert": y_test}
df = pd.DataFrame(data)
# df[df["real-closeWert"]<df["ai-closeWert"]]

            time    open     high      low
70  1.703115e+09  1.0599  1.06047  1.05984

In [89]:

column_names = ['time', 'open', 'high', 'low']
values = [[1681529400.0, 1.09432, 1.09445, 1.09425]]

new_test = pd.DataFrame(values, columns=column_names)

In [103]:
#die aus gabe soll diese zahl raus 1.09428  die daten mussen spliten um den model zu erkannden wie er die warte schetzen kann 
model.predict(new_test)[0]

1.0943692127523115

In [104]:
# 1.05966 
model.predict(X_test[X_test["open"]==1.05990])[0]

1.0603211036805351